<a href="https://colab.research.google.com/github/Marudhan/Basic-Python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("HEllo world")

HEllo world

In [3]:
a = 10
b = 5

# Addition
print(a + b)

# Subtraction
print(a - b)

# Multiplication
print(a * b)

# Division
print(a / b)

# Floor division
print(a // b)

15
5
50
2.0
2

In [4]:
print("Enter two numbers: ")
a = int(input())
b = int(input())

print("Choose operation (+, -, *, /, //): ")
op = input()

if op == "+":
  print(a + b)
elif op == "-":
  print(a - b)
elif op == "*":
  print(a * b)
elif op == "/":
  print(a / b)
elif op == "//":
  print(a // b)
else:
  print("Invalid operation")

Enter two numbers:
15
20
Choose operation (+, -, *, /, //):
+
35

In [9]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [10]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [12]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [13]:

list1 = [1, 2, 3, 4, 5]
print("List1:", list1)

tuple1 = (1, 2, 3, 4, 5)
print("Tuple1:", tuple1)

import array
array1 = array.array('i', [1, 2, 3, 4, 5])
print("Array1:", array1)

List1: [1, 2, 3, 4, 5]
Tuple1: (1, 2, 3, 4, 5)
Array1: array('i', [1, 2, 3, 4, 5])

In [14]:

set1 = {1, 2, 3, 4, 5}
print("Set1:", set1)

print("First element:", set1.pop())
print("Set1:", set1)

set1.add(6)
print("Set1:", set1)

set1.remove(4)
print("Set1:", set1)

set2 = {3, 4, 5, 6, 7}
print("Set1 U Set2:", set1 | set2)

print("Set1 n Set2:", set1 & set2)

print("Set1 - Set2:", set1 - set2)

a = 10
print("Type of a:", type(a))

b = "Hello World"
print("Type of b:", type(b))

c = True
print("Type of c:", type(c))

d = 10.245
print("Type of d:", type(d))

Set1: {1, 2, 3, 4, 5}
First element: 1
Set1: {2, 3, 4, 5}
Set1: {2, 3, 4, 5, 6}
Set1: {2, 3, 5, 6}
Set1 U Set2: {2, 3, 4, 5, 6, 7}
Set1 n Set2: {3, 5, 6}
Set1 - Set2: {2}
Type of a: <class 'int'>
Type of b: <class 'str'>
Type of c: <class 'bool'>
Type of d: <class 'float'>